* {
  border: 0;
  box-sizing: border-box;
  font-family: ' Courier New' , Courier , monospace;
  margin: 0;
  padding: 0;
}

.login-container {
  align-items: center;
  background: linear-gradient(180deg, #1b1f34f5, #323193);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  background: rgb(252, 252, 252);
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  max-width: 350px;
  min-height: 40vh;
  padding: 2rem;
}

h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

h2:before {
  background: linear-gradient(45deg, #1b1f34f5, #323193);
  border-radius: 8px;
  bottom: 3px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 75px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
}

form .input-field:first-child {
  margin-bottom: 1.5rem;
}

.input-field .underline:before {
  background: rgba(0, 0, 0, 0.4);
  bottom: -5px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}

.input-field .underline:after {
  background: linear-gradient(45deg, #1b1f34f5, #323193);
  bottom: -5px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s ease;
  width: 100%;
}

.input-field input:focus ~ .underline:after {
  transform: scaleX(1);
}

.input-field input {
  color: rgb(0, 0, 0, 0.6);
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.input-field input::placeholder {
  color: rgb(0, 0, 0, 0.6);
}

.submit-button {
  background: linear-gradient(to left, #1b1f34f5, #323193);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0.4rem;
  transition: all 0.3s ease;
  width: 100%;
}

.submit-button:hover {
  background: linear-gradient(to right, #1b1f34f5, #323193);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  letter-spacing: 00.2rem;
}

.texto {
  color: rgb(0, 0, 0, 0.9);
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
}

.invalid_user {
  color: red;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-left: 12px;
  text-align: center;
}
